/* Variables et reset */
:root {
    --primary-color: #c04600;
    --secondary-color: #fb8b24;
    --link-color: #0c8ee6;
    --text-color: #ffffff;
    --background-color: #242222;
}

/* Modification du header pour le rendre transparent */
header {
    background-color: transparent;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: var(--primary-color);
}

/* Style de la section hero */
.hero {
    height: 100svh;
    width: 100%;
    background-image: url('./assets/hero-background.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding-bottom: 6rem;
}

.hero-content {
    padding: 2rem;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Ajustement du main pour éviter le chevauchement */
main {
    padding-top: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Navigation */

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1.5rem;
}

/* Navigation */
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
}

/* Ajoutez ces nouvelles règles pour le changement de couleur */
header.scrolled nav ul li a {
    color: black;
}

header.scrolled nav ul li a:hover {
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Sections principales */
.section {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Section À propos */
.about-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1800px;
    margin: 0 auto;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 100%;
    object-fit: cover;
}

.about-text {
    justify-items: center;
}

.about-text h2 {
    margin-bottom: 2rem;
}

.link-formation {
    color: var(--secondary-color);
}

.link-formation:hover {
    color: var(--link-color);
}

.contact-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: black;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;
    justify-content: center;
}

.contact-btn:hover {
    background-color: var(--link-color);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Style pour la liste des compétences */
.skills-list {
    height: 350px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 2rem;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) rgba(255, 255, 255, 0.1);
}

.skills-list::-webkit-scrollbar {
    width: 8px;
}

.skills-list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.skills-list::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skill-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
}

.skill-item:last-child {
    border-bottom: none;
}

.skill-item:hover {
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

.skill-item i {
    font-size: 2rem;
    color: var(--secondary-color);
}

.skill-item span {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Section Portfolio */
#portfolio h2{
    text-align: center;
    margin-bottom: 2rem;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.project-card {
    position: relative;
    aspect-ratio: 16/9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    color: white;
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.technologies {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.technologies span {
    background: var(--secondary-color);
    color: black;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* Style pour la modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow-y: auto;
}

.modal-content {
    position: relative;
    background-color: var(--background-color);
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Ajout du style pour la barre de défilement personnalisée */
.modal::-webkit-scrollbar {
    width: 8px;
}

.modal::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

/* Style pour Firefox */
.modal {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) rgba(255, 255, 255, 0.1);
}

.close-modal {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

.close-modal:hover {
    color: var(--secondary-color);
}

.modal-body {
    text-align: center;
}

.modal-body img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem 0;
}

.modal-description, .modal-tech-section {
    margin: 2rem 0;
    text-align: left;
}

.modal-description h3, .modal-tech-section h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.modal-description p {
    line-height: 1.6;
    color: var(--text-color);
}

.modal-technologies {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.tech-badge {
    background-color: var(--secondary-color);
    color: black;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
}

.modal-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
}

.project-link {
    background-color: var(--secondary-color);
    color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.project-link:hover {
    background-color: var(--link-color);
    transform: translateY(-3px);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: black;
    padding: 1.5rem;
}

.footer-content {
    margin: 0 auto;
    position: relative;
    padding: 0 4rem;
}

.footer-content p {
    text-align: center;
}

.social-links {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 1.5rem;
}

.social-link {
    color: black;
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover {
    color: var(--link-color);
    transform: translateY(-3px);
}

/* Media Queries */
@media (max-width: 1200px) {
    .about-content {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .profile-image, .about-text, .skills {
        text-align: center;
    }

    .about-text {
        padding-right: 0;
    }

    .about-text p {
        text-align: center;
    }

    .skills h2 {
        margin-bottom: 2rem;
    }

    .skills-list {
        height: 200px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 2rem;
        gap: 2rem;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        margin: 0 auto;
        max-width: 750px;
    }

    .skill-item {
        flex: 0 0 auto;
        flex-direction: column;
        border-bottom: none;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        padding: 1rem 2rem;
        scroll-snap-align: start;
        min-width: 150px;
        text-align: center;
    }

    .skill-item:hover {
        transform: translateY(-5px);
    }

    .skills-list::-webkit-scrollbar {
        height: 8px;
    }

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .project-info {
        padding: 1rem;
    }

    .project-info h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .technologies span {
        font-size: 0.5rem;
    }

    .modal-content {
        margin: 1.5rem auto;
        padding: 1.5rem;
    }

    .modal-body img {
        max-height: 300px;
    }

    .modal-description, .modal-tech-section {
        margin: 1.5rem 0;
    }

    .modal-description h3, .modal-tech-section h3 {
        font-size: 1.3rem;
    }

    .modal-description p {
        font-size: 1rem;
    }

    .tech-badge {
        font-size: 0.9rem;
    }

    .modal-links {
        gap: 1.5rem;
    }

    .project-link {
        padding: 0.7rem 1.3rem;
        font-size: 1rem;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .section {
        padding: 3rem 1rem;
    }

    nav ul {
        font-size: 12px;
        text-wrap: nowrap;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        margin: 0 auto;
    }

    .profile-image img {
        width: 250px;
        height: 250px;
    }

    .contact-btn {
        display: block;
        text-align: center;
        margin: 2rem auto 0;
        max-width: 200px;
    }

    .skills-list {
        height: 150px;
        padding: 1rem;
        gap: 1rem;
        max-width: 350px;
    }

    .modal-content {
        margin: 1rem;
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    .modal-body img {
        max-height: 200px;
    }

    .modal-description, .modal-tech-section {
        margin: 1rem 0;
    }

    .modal-description h3, .modal-tech-section h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .modal-description p {
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .tech-badge {
        font-size: 0.8rem;
        padding: 0.2rem 0.6rem;
    }

    .modal-links {
        gap: 1rem;
        margin-top: 1rem;
    }

    .project-link {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
        max-width: 400px;
        padding: 0 1rem;
    }

    .project-card {
        margin-bottom: 2rem;
    }


    .footer-content {
        padding: 0 1rem;
    }

    .social-links {
        position: static;
        justify-content: center;
        transform: none;
        margin-top: 1rem;
    }

    .footer-content p {
        text-align: center;
    }
}
