/* Variables et reset */
:root {
    --primary-color: #c04600;
    --secondary-color: #fb8b24;
    --link-color: #255f85;
    --text-color: #ffffff;
    --background-color: #242222;
}

/* Modification du header pour le rendre transparent */
header {
    background-color: transparent;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: var(--primary-color);
}

/* Style de la section hero */
.hero {
    height: 100svh;
    width: 100%;
    background-image: url('./assets/hero-background.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding-bottom: 6rem;
}

.hero-content {
    padding: 2rem;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Ajustement du main pour éviter le chevauchement */
main {
    padding-top: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Navigation */

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1.5rem;
}

/* Navigation */
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
}

/* Ajoutez ces nouvelles règles pour le changement de couleur */
header.scrolled nav ul li a {
    color: black;
}

header.scrolled nav ul li a:hover {
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Sections principales */
.section {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Section À propos */
.about-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1800px;
    margin: 0 auto;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 100%;
    object-fit: cover;
}

.about-text {
    justify-items: center;
}

.about-text h2 {
    margin-bottom: 2rem;
}

.about-text p {
    text-align: justify;
}

.link-formation {
    color: var(--secondary-color);
}

.link-formation:hover {
    color: var(--link-color);
}

.contact-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;
    justify-content: center;
}

.contact-btn:hover {
    background-color: var(--link-color);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Style pour la liste des compétences */
.skills-list {
    height: 350px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 2rem;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) rgba(255, 255, 255, 0.1);
}

.skills-list::-webkit-scrollbar {
    width: 8px;
}

.skills-list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.skills-list::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skill-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
}

.skill-item:last-child {
    border-bottom: none;
}

.skill-item:hover {
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

.skill-item i {
    font-size: 2rem;
    color: var(--secondary-color);
}

.skill-item span {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Section Portfolio */
#portfolio h2{
    text-align: center;
    margin-bottom: 2rem;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 1.5rem;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: black;
    padding: 1.5rem;
}

.footer-content {
    margin: 0 auto;
    position: relative;
    padding: 0 4rem;
}

.footer-content p {
    text-align: center;
}

.social-links {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 1.5rem;
}

.social-link {
    color: black;
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover {
    color: var(--link-color);
    transform: translateY(-3px);
}

/* Media Queries */
@media (max-width: 1200px) {
    .about-content {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .profile-image, .about-text, .skills {
        text-align: center;
    }

    .about-text {
        padding-right: 0;
    }

    .about-text p {
        text-align: center;
    }

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1rem;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .section {
        padding: 3rem 1rem;
    }

    nav ul {
        font-size: 12px;
        text-wrap: nowrap;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        margin: 0 auto;
    }

    .profile-image img {
        width: 250px;
        height: 250px;
    }

    .contact-btn {
        display: block;
        text-align: center;
        margin: 2rem auto 0;
        max-width: 200px;
    }

    .skills-chart {
        width: 300px;
        height: 300px;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
        max-width: 400px;
        padding: 0 1rem;
    }

    .project-card {
        margin-bottom: 2rem;
    }

    .form-row {
        grid-template-columns: 1fr;
    }
    
    .contact-container {
        margin: 1rem;
        padding: 1.5rem;
    }

    .footer-content {
        padding: 0 1rem;
    }

    .social-links {
        position: static;
        justify-content: center;
        transform: none;
        margin-top: 1rem;
    }

    .footer-content p {
        text-align: center;
    }
}
